@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}


<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<!-- Filter Section -->
<section class="py-3 filter-bar">
    <div class="container">
        <div class="row" style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;">
            <div class="col-12">
                <form>
                    <div class="row">
                        <!-- Product Name -->
                        <div class="col-md-3">
                            <input type="text" class="form-control" placeholder="Product Name" name="Name" value="@ViewBag.Name">
                        </div>

                        <!-- Price Range -->
                        <div class="col-md-2">
                            <input type="number" class="form-control" placeholder="Min Price" name="MinPrice" value="@ViewBag.MinPrice">
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" placeholder="Max Price" name="MaxPrice" value="@ViewBag.MaxPrice">
                        </div>

                        <!-- Category -->
                        <div class="col-md-2">
                            <select name="CategoryId" class="form-control">
                                x
                                <option>--Select Category--</option>
                                @* @foreach (var item in ViewData["Categories"] as IEnumerable<Category>) 
                                {
                                    <option>@item.Name</option>
                                } *@

                                @foreach (var item in ViewBag.Categories)
                                {
                                    @if (ViewBag.CategoryId == item.Id)
                                    {
                                        <option value="@item.Id" selected> @item.Name</option>
                                        continue;
                                    }
                                    <option value="@item.Id"> @item.Name</option>
                                }
                            </select>
                        </div>

                        <!-- Brand -->
                        <div class="col-md-2">
                            <select name="BrandId" class="form-control">
                                <option>--Select Brands--</option>
                                @foreach (var item in ViewBag.Brands)
                                {
                                    @if (ViewBag.CategoryId == item.Id)
                                    {
                                        <option value="@item.Id" selected> @item.Name</option>
                                        continue;
                                    }
                                    <option value="@item.Id"> @item.Name</option>
                                }

                            </select>
                        </div>
                        <div class="col-md-1">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" value="true" name="IsHot" @(ViewBag.IsHot != null && ViewBag.IsHot ? "checked" : "")>
                                <label class="form-check-label">Hot</label>
                            </div>
                        </div>

                        <!-- Submit Button -->
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-dark w-100">Filter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Section-->
<div class="container">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@item.Category.Name</div>
                            @if (item.Discount >= 50)
                            {
                                <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; left: 0.5rem">hot</div>
                            }
                            <!-- Product image-->
                            <img class="card-img-top" src="~/Images/@item.MainImg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        @for (int i = 0; i < item.Rate; i++)
                                        {
                                            <div class="bi-star-fill"></div>
                                        }
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">@item.Price</span>
                                    @(@item.Price - (@item.Price * (@item.Discount / 100)))
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link @(ViewBag.CurrentPage <= 1 ? "disabled" : "")" href="?page=@(ViewBag.CurrentPage - 1)">Previous</a></li>
                        @for (var i = 0; i < ViewBag.TotalPages; i++)
                        {
                            <li class="page-item"><a class="page-link" href="?page=@(i + 1)">@(i + 1)</a></li>
                        }
                        <li class="page-item"><a class="page-link @(ViewBag.CurrentPage >= ViewBag.TotalPages ? "disabled" : "")" href="?page=@(ViewBag.CurrentPage + 1)">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</div>